body{ background-color: rgb(71, 105, 107);
}
.fathr{
    background-color: antiquewhite;
     width: 800px;
     height: 600px;
     margin: auto;
     margin-top: 100px;
     padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      border-radius: 30px;
      box-shadow: 0 0 30px #ccd3ff ;

    }
.logo{
        width: 300px;
        display: block;
        margin: auto;
        border: 4px dashed  #4287f5;
        border-radius: 30px;
     }
     .S{ 
        font-size: 40px;
        border-bottom: #4287f5 solid 3px;
        width: 80px;
        margin: auto;
        padding-top: 10px
     }
     .L{
        color: #172285;
        font-size: small;
     }
     .child{
        background-color: #b2d3dd;
        height: 140px;
     }
     .child img {
        width: 100px;
      margin: 25px;

     }